<!DOCTYPE html>
<html lang="en">
<head>
  <style>
      html{
        scroll-behavior: smooth;
      }
      *{
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
      }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  {# <link rel="stylesheet" href="tailwind.css"> #}
  <script src="components/function.js"></script>
  <title>Personal-Web:Ivan</title>
</head>
<body class="m-0 p-0">
  <style>img[alt="www.000webhost.com"]{display:none;}</style>



{# Navbar Starts #}
  {% include 'navbar.twig' %}
{# Navbar Ends #}

{% block content %}
  {# content goes here... #}
{% endblock %}


<div class="bg-gray-700 text-xs md:text-sm text-gray-400 pt-4 border-t-2 border-solid border-gray-400 px-4 md:px-20 pb-6">
  <i>Sincerely with Hope, Love, Faith, and Luck</i>
  <div class="ml-4">
    <p>Copyright &#xa9; 2021</p>
    <p>Website Design & Development by Ivan Nircahya</p>
  </div>
</div>


</body>
</html>