<div class="z-30 fixed w-full">
    <div class="bg-gray-700 text-white border-b-2 border-solid border-indigo-900">
        <div class="p-1 text-xl italic md:text-3xl md:p-3">
            <h1>{{navbar.judul}}</h1>
        </div>
    </div>
    <div class="bg-gray-900 text-white text-center">
        <div class="text-sm flex-row flex-nowrap space-x-10 sm:space-x-20 md:space-x-40 md:text-xl md:p-0.5 lg:space-x-50">
            {% for item in navbar.sekte %}
                <a class="hover:text-blue-500" href="#{{item}}">{{item}}</a>
            {% endfor %}
        </div>
    </div>
</div>